@media (max-width:767px) {
    body {
        background-attachment: fixed;
    }
    .hidden-mobile {
        display: none;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
    }
    .nav-list > * {
        padding-top: .5rem;
    }
}

/* FONTS TEMPLATE
@font-face {
    font-family: ;
    src:
        local("") 
        url(../fonts/);
} 
*/

@font-face {
    font-family: "Young Serif";
    src: 
        local("Young Serif")
        url(../fonts/YoungSerif-master/fonts/webfonts/YoungSerif-Regular.woff2) format("woff2"),
        url(../fonts/YoungSerif-master/fonts/otf/YoungSerif-Regular.otf) format("OpenType");
}

@font-face {
    font-family: "PicNic";
    src: 
        local("PicNic")
        url(../fonts/PicNic-main/fonts/webfonts/PicNic-Regular.woff2) format("woff2"),
        url(../fonts/PicNic-main/fonts/otf/PicNic-Regular.otf) format("OpenType");
}

@font-face {
    font-family: "Basteleur Moonlight";
    src: 
        local("Basteleur Moonlight")
        url(../fonts/basteleur-master/fonts/webfonts/Basteleur-Moonlight.woff2) format("woff2"),
        url(../fonts/basteleur-master/fonts/otf/Basteleur-Moonlight.otf) format("OpenType")
    ;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: "Young Serif";
    font-size: large;
    display: block;
    text-align: center;
    image-rendering: pixelated;
    background-attachment: fixed;
    width: 100%;
    margin: auto;
    background-color: black;
}

p {
    font-size: larger;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    width: 90%;
}

.nav-list {
    display: flex;
    list-style-type: none;
    font-family: "Basteleur Moonlight";
    font-size: larger;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-list > * {
    flex: 1;
}

.gallery {
    display: block;
    width: 75%;
    margin: auto;
    font-size: large;
    clear: both;
}

.art-piece {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    height: 100%;
    min-width: 100%;
}

.art-piece img {
    display: block;
    max-width: 1080px;
    width: 100%;
    height: auto;
    margin: 0;
    border-style: ridge;
    box-shadow: 4px 4px black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.twoColumn {
    max-width: 45%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem;
    padding: 0;
}

.note {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    padding: 0;
    margin: auto;
    margin-top: 1rem;
}

.footer {
    width: 100%;
    margin-top: 50px;
    font-size: large;
    font-family: "Basteleur Moonlight";
}

.totop > * {
    display: block;
    text-align: center;
    margin: .5rem;
}

.credit {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
    height: fit-content;
    border-style: double;
    padding: 7px;
    background-image: url(../images/01_assets/cr-background.png);
    image-rendering: pixelated;
    font-family: "PicNic";
    font-size:x-large;
}