body {
    background-image: url(../images/01_assets/aesthetiscape-install-background.png);
    image-rendering: pixelated;
}

div.gallery p {
    text-align: center;
    display: block;
    padding: 7px;
    margin: auto;
    margin-top: 10px;
    background-image: url(../images/01_assets/rgb-thread-light-install.png);
    image-rendering: pixelated;
    max-width: fit-content;
    border-style: inset;
}

.twoColumn {
    max-width: 45%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem;
}