body {
    background-image: url(../images/aesthetiscape-archive-background.png);
    image-rendering: pixelated;
}

div.gallery p {
    text-align: center;
    display: block;
    padding: 7px;
    margin: auto;
    margin-top: 10px;
    background-image: url(../images/rgb-thread-light-archive.png);
    image-rendering: pixelated;
    max-width: fit-content;
    border-style: inset;
}