.back-img {
    z-index: 0;
    background-image: url(../images/aesthetiscape-commission-background.png);
    image-rendering: crisp-edges;
}

div.gallery p {
    text-align: center;
    display: block;
    padding: 7px;
    margin: auto;
    margin-top: 10px;
    background-image: url(../images/rgb-thread-light-commission.png);
    image-rendering: crisp-edges;
    max-width: fit-content;
    border-style: inset;
}