.back-img {
    z-index: 0;
    background-image: url(../images/aesthetiscape-index-background.png);
    background-position: top left;
    image-rendering: pixelated;
}

div.gallery p {
    text-align: center;
    display: block;
    padding: 7px;
    margin: auto;
    margin-top: 10px;
    background-image: url(../images/rgb-thread-light-index.png);
    background-position: top left;
    image-rendering: pixelated;
    max-width: fit-content;
    border-style: inset;
}

#draggable {
    position: fixed;
    cursor:grab; 
}