body {
    background-image: url(../images/aesthetiscape-inquiries-background.png);
    image-rendering: pixelated;
}

p {
    margin-top: 1rem;
    margin-bottom: 0;
}

div.gallery p {
    text-align: center;
    display: block;
    padding: 7px;
    margin: auto;
    margin-top: 10px;
    background-image: url(../images/rgb-thread-light-inquiries.png);
    image-rendering: pixelated;
    max-width: fit-content;
    border-style: inset;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.block-container {
    display: flex;
    flex-flow: row wrap;
    margin: 1rem;
    clear: both;
    justify-content: space-around;
}

.block-container > * {
    margin: 1rem;
}

.merchBox {
    flex: 1;
    max-width: 50%;
}

.merchBox > * {
    max-width: 100%;
}