@media (max-width:767px) {
    .hidden-mobile {
        display: none;
    }
}

@font-face {
    font-family: "Young Serif";
    src: 
        local("Young Serif")
        url(../fonts/YoungSerif-master/fonts/webfonts/YoungSerif-Regular.woff2) format("woff2"),
        url(../fonts/YoungSerif-master/fonts/otf/YoungSerif-Regular.otf) format("OpenType");
}

@font-face {
    font-family: "Sligoil";
    src: 
        local("Sligoil")
        url(../fonts/sligoil-main/fonts/web/Sligoil-Micro.woff2) format("woff2"),
        url(../fonts/sligoil-main/fonts/Sligoil-Micro.otf) format("OpenType");
}

@font-face {
    font-family: "PicNic";
    src: 
        local("PicNic")
        url(../fonts/PicNic-main/fonts/webfonts/PicNic-Regular.woff2) format("woff2"),
        url(../fonts/PicNic-main/fonts/otf/PicNic-Regular.otf) format("OpenType");
}

@font-face {
    font-family: "Basteleur Moonlight";
    src: 
        local("Basteleur Moonlight")
        url(../fonts/basteleur-master/fonts/webfonts/Basteleur-Moonlight.woff2) format("woff2"),
        url(../fonts/basteleur-master/fonts/otf/Basteleur-Moonlight.otf) format("OpenType")
    ;
}

@font-face {
    font-family: "Terminal Grotesque";
    src: 
        local("Terminal Grotesque")
        url(../fonts/Terminal-Grotesque-master/terminal-grotesque_open.otf) format("OpenType");
}

img {
    image-rendering: pixelated;
}

div.wrapper {
    text-align: center;
    display: block;
}

.logo {
    margin-top: 0px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    clear: both;
}

.nav {
    font-family: "Basteleur Moonlight";
    font-size: larger;
    display: flex;
    justify-content: space-evenly;
    width: 420px;
    margin: auto;
}

body {
    font-family: "Young Serif";
}

.gallery {
    z-index: 1;
    width: 90%;
    padding: auto;
    margin: auto;
}

div.gallery {
    text-align: center;
    font-size:large;
    display: block; 
    clear: both;
}

div.gallery img {
    margin-top: 50px;
    width: 100%;
    max-width: 810px;
    border-style: ridge;
    box-shadow: black;
    box-shadow: 4px 4px;
}

.footer {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.credit {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
    border-style: double;
    padding: 7px;
    background-image: url(../images/cr-background.png);
    image-rendering: pixelated;
    font-family: "PicNic";
    font-size:x-large;
}