@media (max-width:767px) {
    .hidden-mobile {
        display: none;
    }
}

@font-face {
    font-family: "Young Serif";
    src: 
        local("Young Serif")
        url(../fonts/YoungSerif-master/fonts/webfonts/YoungSerif-Regular.woff2) format("woff2"),
        url(../fonts/YoungSerif-master/fonts/otf/YoungSerif-Regular.otf) format("OpenType");
}

@font-face {
    font-family: "PicNic";
    src: 
        local("PicNic")
        url(../fonts/PicNic-main/fonts/webfonts/PicNic-Regular.woff2) format("woff2"),
        url(../fonts/PicNic-main/fonts/otf/PicNic-Regular.otf) format("OpenType");
}

@font-face {
    font-family: "Basteleur Moonlight";
    src: 
        local("Basteleur Moonlight")
        url(../fonts/basteleur-master/fonts/webfonts/Basteleur-Moonlight.woff2) format("woff2"),
        url(../fonts/basteleur-master/fonts/otf/Basteleur-Moonlight.otf) format("OpenType")
    ;
}

body {
    font-family: "Young Serif";
    text-align: center;
    image-rendering: pixelated;
    width: 100%;
    margin: 0;
}

.wrapper {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1000px;
    clear: both;
}

.logo {
    width: 100%;
}

.nav-list {
    display: flex;
    list-style-type: none;
    font-family: "Basteleur Moonlight";
    font-size: larger;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-list > * {
    flex: 1;
}

.gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: large;
    clear: both;
}

div.gallery img {
    margin-top: 50px;
    width: 90%;
    max-width: 810px;
    border-style: ridge;
    box-shadow: black;
    box-shadow: 4px 4px;
}

.footer {
    width: 100%;
    margin-top: 50px;
}

.credit {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
    height: fit-content;
    border-style: double;
    padding: 7px;
    background-image: url(../images/cr-background.png);
    image-rendering: pixelated;
    font-family: "PicNic";
    font-size:x-large;
}