@media (max-width:767px) {
    .hidden-mobile {
        display: none;
        image-rendering: pixelated;
    }
}

.col-1 {width: 50%;}

@media only screen
and (max-device-width: 768px) {
    [class="col-1"] {
        width:100%;
        image-rendering: pixelated;
    }
}

img {
    image-rendering: pixelated;
}

.wrapper div {
    text-align: center;
    display: block;
    clear: both;
}

.logo {
    margin-top: 50px;
    width: 300px;
    max-width: 90%;
    text-align: center;
}

.nav {
    text-align: center;
}

.gallery {
    z-index: 1;
    width: 90%;
    padding: auto;
    margin: auto;
}

.gallery div {
    text-align: center;
    display: block; 
    clear: both;
}

.gallery div img {
    margin-top: 50px;
    width: 100%;
    max-width: 500px;
    border-style: ridge;
    box-shadow: black;
    box-shadow: 4px 4px;
}

.footer {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.credit {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
    border-style: double;
    padding: 7px;
    background-image: url(../images/cr-background.png);
}
