@media (min-width: 820px) {
    .mobile-table {
        display: none;
        flex: 1;
    }
}

@media (max-width: 819px) {
    .desktop-table {
        display: none;
        flex: 1;
    }
    
    .meta-nav {
        display: flex; 
        justify-content: space-between; 
        flex-direction: column; 
        margin: auto; 
        margin-right: 0;
    }
}