
/*
art piece style
            <br>
            <a href="images/XXXXX.PNG" 
            target="blank" 
            class="center">
                <img 
                src="images/XXXXX.png"
                style="
                align-items: center; 
                width: 100%; 
                height: 100%;">
            </a>
        <br>
        <p style="text-align: center;">
        XXXXX. XXXXX.</p>
        <br> 
*/
.artPiece {
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}